* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

i {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: white;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #212529;
  color: white;
  padding: 25px 60px;
  margin-bottom: 30px;
}

.nav-logo {
  height: 2rem;
  width: 2rem;
}

.marketing {
  margin-top: 8%;
  margin-bottom: 4%;
}

.clothing-marketing {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
}

.grid-cards {
  margin-bottom: 8%;
}

.quantity {
  margin: 0 1rem 0 1rem;
}
.container-card-cart-main {
  margin-top: 7%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.container-card-cart-grid {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.card-body-cart {
  display: flex;
  justify-content: space-between;
}
.card-cart-item {
  margin-bottom: 1rem;
}
.card-cart-item-img {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
}
.btn-group-cart {
  margin-bottom: 3%;
}

@media only screen and (max-width: 1335px) {
  .marketing {
    margin-top: 10%;
  }

  .container-card-cart-main {
    margin-top: 10%;
  }
}

@media only screen and (max-width: 1000px) {
  .marketing {
    margin-top: 12%;
  }

  .container-card-cart-main {
    margin-top: 12%;
  }
}

@media only screen and (max-width: 786px) {
  .marketing {
    margin-top: 30%;
  }

  .container-card-cart-main {
    margin-top: 30%;
  }
}

